.highlighted {
	color:blue;
	font-weight: bold;
}

.centered {
	text-align: center;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1 {
	text-align: center;
}

blockquote {
	border: 1px solid black;
}

#content {
	max-width: 900px;
  font-size: 1.2em;
}

#tts-buttons {
	padding-right: 70px;
}

.test-boxes {
	float:left;
  margin-right:20px;
}